@page "/workers"

<div class="container">

    <div class="row">
        <div class="col">
            <h1>Workers</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Card number</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Printing 1-7</td>
                        <td>Data collection service</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Extrusion 1-7</td>
                        <td>Data collection service</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Packing 1-10</td>
                        <td>Data collection service</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Add new data provider</h3>
            <form action="about:blank" onsubmit="@AddDataProvider">
                <div class="form-group">
                    <label for="providerType">Provider type</label>
                    <select class="form-control" id="providerType">
                        <option>Data collection service</option>
                        <option>Width measurement monitor</option>
                        <option>Production speed monitor</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="providerName">Provider name</label>
                    <input type="text" class="form-control" id="providerName">
                </div>
                <button type="submit" class="btn btn-primary">Add data provider</button>
            </form>
        </div>
    </div>
</div>

@functions{
    void AddDataProvider()
    {

    }
}